header.header.header--glass
  nav.nav.nav--tours
    a.nav__el(href='/') Home
    a.nav__el(href='/tours') All Tours
    a.nav__el(href='/#features') Services
    a.nav__el(href='/#testimonials') Reviews
    a.nav__el(href='/contact') Contact us
  .header__logo
    a(href='/')
      img(src='/img/logo-white.png' alt='YatraKaro logo')
  nav.nav.nav--user
    if user
      //- Role-based navigation links
      if user.role === 'admin'
        a.nav__el(href='/admin') Dashboard
      if user.role === 'guide' || user.role === 'lead-guide'
        a.nav__el(href='/guide/trips') My Trips
      a.nav__el(href='/my-bookings') My Bookings
      a.nav__el.nav__el--logout Log out
      a.nav__el(href='/me')
        img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
        span= user.name.split(' ')[0]
    else
      a.nav__el(href='/login') Log in
      a.nav__el.nav__el--cta(href='/signup') Sign up

  //- Mobile hamburger
  button.mobile-menu-btn(aria-label='Open menu' type='button')
    span.mobile-menu-btn__bar
    span.mobile-menu-btn__bar
    span.mobile-menu-btn__bar

//- Full-screen mobile menu
.mobile-menu
  .mobile-menu__overlay
  .mobile-menu__panel
    button.mobile-menu__close(aria-label='Close menu' type='button') ✕
    nav.mobile-menu__nav
      a.mobile-menu__link(href='/') Home
      a.mobile-menu__link(href='/tours') All Tours
      a.mobile-menu__link(href='/#features') Services
      a.mobile-menu__link(href='/#testimonials') Reviews
      a.mobile-menu__link(href='/contact') Contact us
      hr.mobile-menu__divider
      if user
        if user.role === 'admin'
          a.mobile-menu__link(href='/admin') Dashboard
        if user.role === 'guide' || user.role === 'lead-guide'
          a.mobile-menu__link(href='/guide/trips') My Trips
        a.mobile-menu__link(href='/my-bookings') My Bookings
        a.mobile-menu__link(href='/me') My Account
        a.mobile-menu__link.nav__el--logout Log out
      else
        a.mobile-menu__link(href='/login') Log in
        a.mobile-menu__link.mobile-menu__link--cta(href='/signup') Sign up