extends base

block content
  .auth-page
    .auth-page__visual
      .auth-page__gradient
      .auth-page__shapes
        .auth-page__shape.auth-page__shape--1
        .auth-page__shape.auth-page__shape--2
        .auth-page__shape.auth-page__shape--3
      .auth-page__visual-content
        img.auth-page__logo(src='/img/logo-white.png' alt='YatraKaro')
        h2.auth-page__visual-title Adventure Awaits
        p.auth-page__visual-text Sign in to access your bookings, reviews, and personalized recommendations
    .auth-page__form-side
      .auth-page__card
        .auth-page__card-header
          h2.auth-page__heading Welcome Back
          p.auth-page__subheading Log into your account to continue
        form.form.form--login
          .auth-page__field
            input#email.auth-page__input(type='email', placeholder=' ', required)
            label.auth-page__label(for='email') Email address
            .auth-page__field-line
          .auth-page__field
            input#password.auth-page__input(type='password', placeholder=' ', required, minlength='8')
            label.auth-page__label(for='password') Password
            .auth-page__field-line
          .auth-page__options
            label.auth-page__check
              input(type='checkbox')
              span Remember me
            a.auth-page__forgot(href='#') Forgot password?
          button.auth-page__submit(type='submit') Login
        .auth-page__divider
          span or
        .auth-page__footer
          p Don't have an account?&nbsp;
            a(href='/signup') Sign up